

.LogInGoogle {
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 100vh;
    max-width: 28.125rem;
}


.LogIn {
    display: flex;
    cursor: pointer;
}

.LogInGoogle p:first-child {
    font-family: silkscreen;
    font-weight: 700;
    font-size: 3.125rem;
    color: #fff;
    margin-bottom: 2.3125rem;
}

.LogInGoogle p:nth-child(2) {
    font-family: 'Fira Code', monospace;
    font-weight: 450;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #fff;
    margin-bottom: 2.3125rem;

}

.LogInGoogle p:last-child {
    font-family: 'Fira Code', monospace;
    font-weight: 450;
    font-size: 1.125rem;
    color: #60265B;
    margin-top: 10.3125rem;    
}

.login-btn {
    width: 22.9375rem;
    height: 3.625rem;
    background-color: #4285F4;
    border-radius: 0px 5px 5px 0px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.75rem;
    border: #4285F4;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #5793f3;
}

.googleLogo {
    background-color: #fff;
    width: 3.6513rem;
    height: 3.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 0px 0px 5px;
    border: solid 3px #4285F4;
}

.continueBtn {
    width: 26.5625rem;
    height: 4.1875rem;
    background-color: #00DA76;
    font-family: silkscreen;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
}

.red {
    color: rgba(255, 0, 0, 0.781);
}

@media screen and (max-width: 950px) {
    
    .initialContainer{
      flex-direction: column;
    }
    .LogInGoogle{
        height: max-content;
        margin-top: 12.1875rem;
        text-align: center;
    }
  }