@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

@font-face {
  font-family: silkscreen;
  src: url("/src/fuentes/slkscrb.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  font-family: sans-serif;
  text-align: center;
  background-color: #2E132C;
  flex-direction: column;
  overflow-x: hidden;
  height: 100vh;

}

h3 {
  display: inline;
}


@media screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }

  .App {
    width: 100vw;
  }

}

@media screen and (max-width: 300px) {
  /* .App{
    overflow-x:scroll;
  } */

}